<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>

<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <th:block th:if="${user} == null">
        <form method="post">
            <th:block th:each="therapist : ${therapists}">
                <th:block
                        th:if="${therapist.therapist} != null">
                <tr>
                    <td th:text="${therapist.firstName}"></td>
                    <td>
                        <button type="submit"
                                name="therapistId"
                        th:value="${therapist.id}" th:text="test">

                        </button>
                    </td>

                    <td th:text="${therapist.test}"></td>
                </tr>
                </th:block>
            </th:block>
        </form>
        </th:block>

        <th:block th:unless="${user} == null">
            <th:block th:each="therapist : ${therapists}">
                <th:block
                        th:if="${therapist.therapist} != null and ${therapist.id} != ${user.id}">
                    <tr>
                        <td th:text="${therapist.firstName}"></td>
                        <td>
                            <button type="submit">
                                <a
                                        th:href="@{/appointmentform}"
                                        th:text="'Schedule ' + ${therapist.firstName} + ' now!'">
                                </a>
                            </button>
                        </td>
                    </tr>
                </th:block>
            </th:block>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>