<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>
<h3 th:text="'Your appointment is with '+${therapist.firstName}"></h3>
<h3
        th:text="'Your time is between '+${therapist.therapist.hoursOfOperation.startConverted} + ' and ' + ${therapist.therapist.hoursOfOperation.finishConverted}"></h3>


<form method="post">
    <select>
        <option th:each ></option>
    </select>
    <button type="submit" name="therapistId"
           th:text="'Confirm appointment with ' + ${therapist.firstName}"
            th:value="${therapist.id}">
    </button>
</form>

</body>
</html>