<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>
<table>


<tr>
    <td>
        <p>My name is Lancaster Graham, I'm a junior developer and have been
            working on programs for the last 3 years. I have passion for
            programming and enjoy creating programs out of ideas. In my corner
            my wife and two kids cheer me on, as I tackle assignments left and
            right. I dream of combining programming and machinery to make
            functional programs that help or assist people in their everyday
            life.
        </p>
    </td>
    <td>
        <p>Contact me at: Lancastergraham87@gmail.com</p>
        <p>6365780240</p>
    </td>
    <td>
        <img src="C:\Users\Lanca\Documents\School\LaunchCode\LiftOff\mehmet-group-b\UberMassage\src\main\resources\static\images\Smaller Pic.png" alt="">
    </td>
</tr>

</table>

<p></p>

<footer th:replace="fragments::footer"></footer>
</body>
</html>