<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>
<table>


<tr>
    <td>
        <p>My name is Lancaster Graham, I'm a junior developer and have been
            working on programs for the last 3 years. I have passion for
            programming and enjoy creating programs out of ideas. In my corner
            my wife and two kids cheer me on, as I tackle assignments left and
            right. I dream of combining programming and machinery to make
            functional programs that help or assist people in their everyday
            life.
        </p>
    </td>
    <td>
        <p>Contact me at: Lancastergraham87@gmail.com</p>
        <p>Phone number: 636-578-0240</p>
    </td>
<tr>
    <td>
        <p>My name is Lawrence Budwell, I'm a junior developer and have been working on
            programming since January of 2021. I have passion for analytical problem solving,
            and user experience on websites.  On this project, I focused on testing and CSS front end.
            I live in St. Louis with my wife Sarah and our 3 awesome cats.
        </p>
    </td>
    <td>
        <p>Contact me at: lbudwell@gmail.com</p>
        <p>Phone number: 571-447-3213</p>
    </td>
</tr>
    <tr>
        <td>
            <p>My name is Lucas Reehle, I'm a junior developer.
                I enjoy wearing hats.
            </p>
        </td>
        <td>
            <p>Contact me at: Update this</p>
            <p>Phone number: most likely 10 digits long</p>
        </td>
    </tr>
</tr>

</table>

<p></p>

<footer th:replace="fragments::footer"></footer>
</body>
</html>
