<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="${title}">Inventory Application</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 sticky-top" th:fragment="header">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/schedule}">
                    Schedule</a>
            </li>
            <li class="nav-item" th:if="${user} != null">
                <a class="nav-link"
                   th:href="@{/profile}">
                    Profile</a>
            </li>
            <li class="nav-item" th:if="${user} == null">
                <a class="nav-link" th:href="@{/login}">
                    Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    Home</a>
            </li>
            <li class="nav-item" th:if="${user} != null">
                <a class="nav-link"
                   th:href="@{/logout}">
                    Logout</a>
            </li>
        </ul>
    </nav>
    <main>
        <h1 th:text="${title}">REPLACE</h1>
        <div th:fragment="content">
        </div>
    </main>
</body>
</html>