<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>


<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>

    <div class="form-group">
        <label>First Name
            <input class="form-control"
                   th:field="${registerFormDTO.firstName}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.firstName}"></p>
    </div>

    <div class="form-group">
        <label>Last Name
            <input class="form-control"
                   th:field="${registerFormDTO.lastName}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.lastName}"></p>
    </div>

    <div>        <!--working on dynamic populating city drop down-->
        <form>

        <label>State: </label>
            <select name="selectState" id="selectState" th:name="selectedState">
                    <option selected="selected">---Select State---</option>
                   <option      th:each="state:${states}"
                                th:text="${state.state}"
                                th:value="${state.state}">
                   </option>
            </select>

        </form>
    </div>

    <div class="form-group">
        <label>City:</label>
            <select name="selectCity" id="selectCity">
                <option>---Select City---</option>
            </select>

    </div>

    <script type="text/javascript">
$(document).ready(
 $('#selectState').change(
        function(){
        $.getJSON("/cities",{
        selectedState: $(this).val(),
        ajax: 'true'
        }, function(data){
         console.log(data);
         let length = data.length;
         let html = '<select>';
         for(let i = 0; i < data.length ; i++){
         html += '<option th:value="'+data[i]+'">'+data[i]+'</option>'
         };
         html += '</select>';
        $('#selectCity').html(html);
        }
        )}
));



</script><!--working on dynamic populating city drop down-->

<!--    <div class="form-group">-->
<!--        <label>State-->
<!--            <select th:field="${registerFormDTO.state}">-->
<!--                <option th:each=" state: ${states}"-->
<!--                        th:value="${state.state}"-->
<!--                        th:text="${state.state}">-->

<!--                </option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->

<!--      <div class="form-group">-->
<!--        <label>City</label>-->
<!--            <select th:field="${registerFormDTO.city}">-->
<!--                <option th:each="city: ${cities}"-->
<!--                        th:value="${city}"-->
<!--                        th:text="${city}">-->

<!--                </option>-->
<!--            </select>-->
<!--    </div>-->

    <div class="form-group">
        <label>Email
            <input class="form-control"
                   th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Phone Number
            <input class="form-control"
                   th:field="${registerFormDTO.phoneNumber}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.phoneNumber}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>

</body>
</html>