<!DOCTYpE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<div class="content-wrap">
    <header th:replace="fragments::header"></header>
    <style th:inline="text">

    </style>
    <img class="imgBackground" src="../images/Profile-Massage.jpg">
    <main role="" class="" id="main">
        <h1 th:text="'Welcome '+ ${user.firstName} + '!'"></h1>
        <br>
        <strong>First name</strong>
        <p th:text="${user.firstName}"></p>
        <strong>Last name</strong>
        <p th:text="${user.lastName}"></p>
        <strong>Email</strong>
        <p th:text="${user.email}"></p>
        <strong>State</strong>
        <p th:text="${user.state}"></p>
        <strong>City</strong>
        <p th:text="${user.city}"></p>
        <strong>phone number</strong>
        <p th:text="${user.phoneNumber}"></p>

        <a th:href="@{/profile/edit}"><strong>Need to edit your
            profile?</strong></a>

        <div th:if="${user.therapist} != null">
            <br>
            <h3>Therapist Info:</h3>
            <strong>Your Gender</strong>
            <p th:text="${user.therapist.gender.getGender()}"></p>
            <strong>Your Hours</strong>
            <p th:text="${user.therapist.hoursOfOperation.startConverted()}"></p>
            <strong>Your Stop Time</strong>
            <p
                    th:text="${user.therapist.hoursOfOperation.finishConverted}"></p>
            <th:block
            th:if="${user.therapist.appointments.size()} != 0"
            style="position: relative; top: 20px;">
            <strong>Your Appointments for Today</strong>
            <th:block
                    th:each="i : ${#numbers.sequence(0, user.therapist.appointments.size() - 1)}">

                <table>
                    <tr>
                        <td
                                th:text="${user.therapist.appointments[i].getClient().getFirstName()} + '&ensp;-&ensp;'"></td>
                        <td th:text="${user.therapist.appointments[i].getPickedTime() <= 12} ? ${user.therapist.appointments[i].getPickedTime()} + ' am' :
                                ${user.therapist.appointments[i].getPickedTime() - 12} + ' pm'"></td>
                    </tr>
                </table>

            </th:block>
            </th:block>
        </div>


        <div
        </div>

        <div th:unless="${user.therapist} != null">
            <br>
            <br>
            <strong>Are you a therapist? Sign up now to provide services.</strong>
            <a th:href="@{/therapistsignup/}">
                Yes</a>
        </div>

    </main>


        <div th:if="${user.appointment} != null" id="appointment">
            <strong>Upcoming Appointment: </strong>
            <table>
                <tr>
                    <td>
                    <p th:text="'Therapist: ' + ${user.appointment.getTherapist().getFirstName()} + ' '+ ${user.appointment.getTherapist().getLastName()}"></p>
                        <span>Time: <strong th:text="${user.appointment.timeConverter()}"></strong></span>
                    </td>
                </tr>
                <tr>

                </tr>
            </table>

            <br>
            <form method="post" data-confirm="Are you sure you want to cancel your appointment?">
                <button id="deleteBtn" type="submit"  th:text="'Cancel appointment?'"
                       th:name="appointmentId" th:value="${user.appointment.id}">
                </button>

            </form>
        </div>



    <div th:if="${user.appointment} == null" id="noAppointment" style="position: relative; bottom: 20px;">
            <strong>You have no upcoming appointments.</strong>
            <form action="/schedule">
                <button>Find a Therapist</button>
            </form>

        </div>

</div>
    <footer th:replace="fragments::newFooter" ></footer>

<!--    //for alert box confirming appointment cancellation-->
        <script type="text/javascript">
        $(document).on('submit', 'form[data-confirm]', function(e){
            if(!confirm($(this).data('confirm'))){
                e.stopImmediatePropagation();
                e.preventDefault();
            }
        });
        </script>
</body>
</html>