<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>

<p>First name</p>
<h1 th:text="${user.firstName}"></h1>
<p>Last name</p>
<h1 th:text="${user.lastName}"></h1>
<p>Email</p>
<h1 th:text="${user.email}"></h1>
<p>State</p>
<h1 th:text="${user.state}"></h1>
<p>City</p>
<h1 th:text="${user.city}"></h1>
<p>Phone number</p>
<h1 th:text="${user.phoneNumber}"></h1>
<p>Username</p>
<h1 th:text="${user.username}"></h1>

<div th:if="${user.therapist} != null">
    <br>
    <br>
    <p>Your Gender</p>
    <h1 th:text="${user.therapist.gender}"></h1>
    <p>Your Hours</p>
    <h1 th:text="${user.therapist.hoursOfOperation.startConverted()}"></h1>
    <p>Your Stop Time</p>
    <h1
            th:text="${user.therapist.hoursOfOperation.finishConverted}"></h1>

</div>


<!--<div th:unless="${user.therapist} != null">-->
    <br>
    <br>
    <p>Are you a therapist? Sign up now to provide services.</p>
    <a th:href="@{/therapistsignup/}">
        Yes</a>
<!--</div>-->


</body>
</html>